<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5421C8A21E5DA2E000C92054</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5421C8B61E5DA2E000C92054</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5421C8C11E5DA2E000C92054</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
